@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
}
body {
    color: rgba(0, 0, 0, 0.74);
}
a {
    color: inherit;
    text-decoration: inherit; 

}
.container {
    /* width: 960px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.contentbody {
    display: flex;
    width: 960px;
    flex-direction: column;
    align-items: center;
}

.headertokyo {
    width: 100%;
    text-align: center;
    margin: 76px 0 76px 0;
    font-family: 'Montserrat', sans-serif;
}
.headertokyo  h1 {
    font-size: 53px;
    line-height: 57px;
    letter-spacing: 1px;
    color: #303030;
    transition: 200ms ease;

}
.headertokyo  h1:hover {
    color: #6d6d6d;
    opacity: 0.82;
}
.navtokyo {
    margin-top: 45px;
    text-align: center;
}
.navtokyo a {
    margin-right: 10px;
    margin-left: 10px;
    padding: 7px 0px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    color: #b9b9b9;
    transition: 200ms ease;
    display: inline-block;
}
.navtokyo a:hover {
    color: #303030 !important;

}
.current {
    color: #303030 !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.contimg {
    margin-bottom: 39px;
}

.content1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}
.content1 a {
    transition: 200ms ease;
}
.content1 a:hover {
    opacity: 0.85;
}
.headlinecontent {
    display: block;
}
.headline {
    margin-bottom: 10px;
}
.bottomline {
    margin-bottom: 25px;
    color: #ccc;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    margin-right: 5px;
    font-family: Montserrat, sans-serif;
}

.contentdesc {
    display: block;
    font-family: Arial,sans-serif;
    width: 65%;
    margin-right: auto;
    margin-bottom: 52px;
    margin-left: auto;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.74);
}
.chotulink {
    transition: 200ms ease;
}
.chotulink:hover {
    color: #333;
}
.diffpage {
    font-family: Montserrat, sans-serif;
    color: #303030;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 200ms ease;
    margin-bottom: 100px;

}
.diffpage:hover {
    color: #d4d4d4;
}
.footer {
    padding-top: 41px;
    padding-bottom: 41px;
    border-top: 1px solid rgb(0 0 0);
    text-align: center;
    /* min-width: 300vw; */
    width: 100%;
}

i {
    margin-right: 4px;
    margin-left: 4px;
    padding: 3px;
    font-size: 1.3rem;
    color: black;
    transition: 200ms ease;
}
i:hover {
    opacity: 0.82;
    color: #a8a8a8;

}
.footext {
    margin-top: 8px;
    font-family: Montserrat, sans-serif;
    color: #a8a8a8;
    font-size: 13px;
}




/* Blog Page */
.headline-blog {
    font-size: 30px !important;
    font-weight: 400;
    margin-bottom: 10px;
}
.contentdesc p {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 24px; 
}
.contentdesc h2 {
    font-weight: 400;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    line-height: 33px;
}

/* About */

.profimg {
    display: block;
    width: 60%;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
    border-radius: 50%;
}
.mb {
    margin-bottom: 10px;
}
.headline-blogbold {
    font-weight: 700 !important;
}
.profp {
    text-align: center;
}